rvl_alias "clk_int" "clk_int";
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
#FREQUENCY NET "fin0_i" 40.000000 MHz ;
#FREQUENCY NET "fin1_i" 40.000000 MHz ;
#FREQUENCY NET "fin2_i" 40.000000 MHz ;
LOCATE COMP "dt[0]" SITE "13" ;
LOCATE COMP "dt[1]" SITE "12" ;
LOCATE COMP "dt[2]" SITE "11" ;
LOCATE COMP "dt[3]" SITE "10" ;
LOCATE COMP "dt[4]" SITE "9" ;
LOCATE COMP "dt[5]" SITE "8" ;
LOCATE COMP "dt[6]" SITE "4" ;
LOCATE COMP "dt[7]" SITE "5" ;
LOCATE COMP "wrn" SITE "16" ;
LOCATE COMP "rdn" SITE "14" ;
LOCATE COMP "a0" SITE "28" ;
LOCATE COMP "sp_clk" SITE "21" ;
LOCATE COMP "sp_csn" SITE "20" ;
LOCATE COMP "sp_dt[0]" SITE "27" ;
LOCATE COMP "sp_dt[1]" SITE "26" ;
LOCATE COMP "sp_dt[2]" SITE "25" ;
LOCATE COMP "sp_dt[3]" SITE "23" ;
LOCATE COMP "dbg" SITE "17";
IOBUF PORT "dt[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "dt[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "dt[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "dt[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "dt[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "dt[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "dt[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "dt[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "sp_clk" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "sp_csn" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "sp_dt[0]" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "sp_dt[1]" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "sp_dt[2]" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "sp_dt[3]" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "dbg" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rdn" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "wrn" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "a0" IO_TYPE=LVCMOS33 PULLMODE=UP ;
BLOCK JTAGPATHS;
